body{
	width:100%;
	font-size:14px;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	background:#FBFBFB;
	margin:0;
}

#navPanel{
	background:#f0f0f0;
	width:100%;
	height:24px;
	padding:3px;
	position:fixed;
	border-bottom:1px solid #b1b1b1;
	box-shadow:0px 0px 10px #b1b1b1;
	z-index:2147483647;
}

input[type="image"]{
	-moz-appearance:none;
	width:16px;
	height:16px;
	padding:3px 6px;
	background:#fbfbfb;
	border:1px solid #b1b1b1;
	color:transparent;
}

#options{
	float:right;
	margin-right:5px;
}

input[type="image"]:hover{
	background:#ebebeb;
}

input[type="image"].open{
	background:#f45f06;
	border:1px solid #da7529;
	filter:invert(100%);
}

input[type="text"]{
	-moz-appearance:none;
	border:1px solid #b1b1b1;
	height:23px;
	width:calc(100% - 12px);
	padding-left:5px;
	padding-right:5px;
}

input[type="text"]:focus,select:focus{
	border:1px solid #0ba0f9;
}

button:focus,button:hover,ul li:hover a{
	background:#ebebeb;
}

#addingSite, #editingSite, #deletingSite{
	transition-property:opacity;
	transition-duration:200ms;
	width:calc(100% - 10px);
	opacity:1;
	background:#eee;
	border-bottom:1px solid #b1b1b1;
	position:fixed;
	padding:5px;
	top:31px;
	box-shadow:0px 10px 10px -10px #b1b1b1;
	z-index:2147483647;
}

.footer{
	padding:5px 3px 3px;
	float:right;
}

.negative{
	background:#d94141;
	border-color:#d94141;
	color:#fff;
}

.negative:hover{
	background:#c34242;
}

.positive{
	background:#0ba0f9;
	border-color:#258ad6;
	color:#fff;
}

.positive:hover{
	background:#059df0;
}

button{
	background:#fbfbfb;
	color:#000;
	border:1px solid #b1b1b1;
	padding:4px 10px 6px;
	font-size:14px;
	line-height:18px;
	text-align:center;
	font-family:'Segoe UI', sans-serif;
	cursor:pointer;
	border-radius:0;
}

select{
	-moz-appearance:none;
	background:#fbfbfb;
	color:#000;
	border:1px solid #b1b1b1;
	padding:2px;
	font-size:13px;
	line-height:18px;
	font-family:'Segoe UI', sans-serif;
	width:100%;
}

.hidden{
	opacity:0 !important;
	visibility:hidden;
}

.none{
	display:none !important;
}

ul{
	list-style-type:none;
	margin:0;
	padding:31px 0 0;
}

ul li{
	line-height:0;
}

ul li a{
	display:inline-block;
	height:16px;
	background:#fbfbfb;
	border-bottom:1px solid #e0e0e0;
	padding:7px 6px;
	margin:0;
	line-height:14px;
	text-decoration:none;
	color:inherit;
	white-space:nowrap;
	overflow:hidden;
	width:calc(100% - 12px);
	cursor:pointer;
}

ul li input+a{
	width:calc(100% - 102px);
}

ul li input{
	float:right;
	padding:7px !important;
	border:none !important;
	border-bottom:1px solid #e0e0e0 !important;
}

ul li:hover input{
	background:#ebebeb;
}

ul li .deleteSite:hover{
	background:#26bebe;
	border-color:#26bebe !important;
	filter:invert(100%);
}

ul li .editSite:hover,ul li .scanPage:hover{
	background:#d2d2d2;
	border-color:#d2d2d2 !important;
}

ul li.scanned a{
	border-left:3px solid #3bdb00;
	padding-left:3px !important;
}

ul li.changed a{
	border-left:3px solid #0ba0f9;
	background-color:#0ba0f9;
	color:#fff;
	padding-left:3px !important;
}

ul li.opened a{
	border-left:none !important;
	background:#fbfbfb !important;
	color:#000 !important;
	padding-left:6px !important;
}

ul li.opened:hover a{
	background:#ebebeb !important;
}

ul li.error a{
	border-left:3px solid #d94141;
	background-color:#ffafaf;
	padding-left:3px !important;
}

ul li.warn a{
	border-left:3px solid #fb3;
	background-image:linear-gradient(135deg, transparent 30%, #fb3 30%,#fb3 70%, transparent 70%);
	background-size:25px 4px;
	background-repeat:repeat-x;
	background-position-y:bottom;
	padding-left:3px !important;
}

#statusbar{
	position:fixed;
	bottom:-27px;
	opacity:0;
	background:#eee;
	border-top:1px solid #b1b1b1;
	box-shadow:0px 0px 10px #b1b1b1;
	width:100%;
	height:20px;
	padding:3px;
	z-index:2147483647;
	transition:bottom 250ms, opacity 250ms;
}

#statusbar.visible{
	bottom:0;
	opacity:1;
	transition:bottom 250ms, opacity 250ms;
}

.favicon{
	vertical-align:top;
	padding-right:5px;
	height:16px;
	width:16px;
	max-height:16px;
	max-width:16px;
	min-width:16px;
}

#deleteTitle{
	padding:7px 0;
}

#deleteUrl{
	font-size:75%;
}
