:root{
	--text-color:#15141a;
	--border-color:#d7d7db;
	--background-color:#fff;
	--titlebar-background:#fff;
	--icon:url("icons/icon.svg");
	--overlay-background:#00000080;
	--select:url("icons/select.svg#l");
}

.dark:root {
	--text-color:#fbfbfe;
	--border-color:#676670;
	--background-color:#1c1b22;
	--titlebar-background:#42414d;
	--icon:url("icons/icon.svg#w");
	--overlay-background:#000c;
	--select:url("icons/select.svg#d");
}

@media (prefers-color-scheme: dark) {
.auto:root {
	--text-color:#fbfbfe;
	--border-color:#676670;
	--background-color:#1c1b22;
	--titlebar-background:#42414d;
	--icon:url("icons/icon.svg#w");
	--overlay-background:#000c;
	--select:url("icons/select.svg#d");
}
}

*:-moz-focusring{
	outline:none;
}

html,
body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	font-size:14px;
	color:var(--text-color);
}

body{
	opacity:1;
	transform:scale(1);
	transition:opacity 200ms, transform 160ms;
}

h1{
	font-size:14px;
	font-weight:600;
	line-height:36px;
	margin:0;
}

button{
	margin:0 0 0 8px;
}

input[type="text"]{
	margin:0;
}

#retryBtn{
	background-image:var(--select);
	background-repeat:no-repeat;
	background-position:8px;
	padding-left:32px;	
}

#inspectDialog{
	background:var(--background-color);
	border:1px solid var(--border-color);
	border-radius:8px;
	box-shadow:0 0 0 2000px var(--overlay-background);
	padding:0 20px 20px 20px;
	position:fixed;
	box-sizing:border-box;
	z-index:2147483647;
	display:grid;
	grid-template-columns:400px;
	grid-column-gap:20px;
	grid-row-gap:10px;
	align-items:start;
	top:calc(50% - 95px);
	left:calc(50% - 221px);
	width:440px;
}

.popupFooter{
	float:right;
	justify-self:right;
}

#titlebar{
	background-color:var(--titlebar-background);
	background-image:var(--icon);
	background-repeat:no-repeat;
	height:36px;
	display:block;
	background-size: 24px 24px;
	background-position: 6px 6px;
	border-bottom:1px solid var(--border-color);
	margin:0px -20px;
	width:calc(100% + 38px);
	text-align:center;
	border-radius: 8px 8px 0 0;
}

.fade{
	opacity:0;
	transform:scale(.6);
	transition:opacity 200ms, transform 600ms;
}
