body{
	max-width:300px;
	margin:6px 0;
}

div{
	background:#fff;
}

button{
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:12px 4px;
	background-size:16px 16px;
	color:#000;
	border:none;
	padding:4px 12px 4px 34px;
	font-size:12px;
	text-align:left;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	cursor:pointer;
	width:100%;
}

button:hover{
	background-color:#f0f0f0;
}

button:active{
	background-color:#e8e8e8;
}

.none{
	display:none !important;
}

#addThis{
	background-image:url("icons/add.svg");
}

#scanNow{
	background-image:url("icons/scan.svg");
}

#showList{
	background-image:url("icons/sidebar.svg");
}

#openSites{
	background-image:url("icons/open.svg");
}
