.light:root {
	--background-color:#f9f9fa;
	--text-color:#000;
	--border-color:#ccc;
	--border-color2:#ccc;
	--panel-background:#f5f6f7;
	--button-hover:#0c0c0d1a;
	--button-open:#0c0c0d33;
	--button-filter:invert(0%);
	--input-background:#fff;
	--select-hover:#fff;
	--input-focus:#0078d7;
	--button-focus:#0c0c0d1a;
	--negative-background:#ff0039;
	--negative-border:#d70022;
	--negative-color:#fff;
	--positive-background:#0a84ff;
	--positive-border:#0060df;
	--positive-color:#fff;
	--link-border:#d7d7db;
	--context-border:#d7d7db;
	--invert-filter:invert(0%);
	--context-li-hover:#0c0c0d1a;
	--context-hover:#0c0c0d33;
	--delete-background:#28ffdd;
	--delete-border:#282824;
	--delete-filter:invert(100%);
	--scanned-border:#30e60b;
	--changed-background:#0a84ff;
	--opened-hover:#0c0c0d1a;
	--error-border:#ff0039;
	--error-background:#ff003966;
	--folder-background:#ffe90033;
	--folder-indicator:#0a84ff66;
	--folder-hover:#ffe90066;
	--folder-context-background:#faf6c8;
	--folder-hover-context-background:#fcf396;
	--dropdown:url("icons/dropdown.svg#d");
}

.dark:root {
	--background-color:#38383d;
	--text-color:#fff;
	--border-color:#0c0c0d;
	--border-color2:#262627;
	--panel-background:#323234;
	--button-hover:#bbbbb8;
	--button-open:#8f8f8e;
	--button-filter:invert(80%);
	--input-background:#474749;
	--select-hover:#474749;
	--input-focus:#0078d7;
	--button-focus:#4a4a4f;
	--negative-background:#d70022;
	--negative-border:#ff0039;
	--negative-color:#f9f9fa;
	--positive-background:#0060df;
	--positive-border:#0a84ff;
	--positive-color:#f9f9fa;
	--link-border:#323234;
	--context-border:#cdcdcb;
	--invert-filter:invert(100%);
	--context-li-hover:#b5b5b0;
	--context-hover:#a4a4a2;
	--delete-background:#00ffc6;
	--delete-border:#cdcdcb;
	--delete-filter:invert(100%);
	--scanned-border:#30e60b;
	--changed-background:#0a84ff;
	--opened-hover:#4a4a4f;
	--error-border:#d70022;
	--error-background:#d7002266;
	--folder-background:#0f1126;
	--folder-indicator:#0a84ff;
	--folder-hover:#202340;
	--folder-context-background:#f0eed9;
	--folder-hover-context-background:#dfdcbf;
	--dropdown:url("icons/dropdown.svg#l");
}

html{
	height:calc(100% - 33px);
	padding-top: 33px;
	background:var(--background-color);
	color:var(--text-color);
}

body{
	width:100%;
	height:100%;
	font-size:14px;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	margin:0;
}

#navPanel{
	background:var(--panel-background);
	width:100%;
	height:26px;
	padding:3px;
	position:fixed;
	top:0;
	border-bottom:1px solid var(--border-color);
	box-shadow:0px 0px 10px var(--border-color);
	z-index:2147483647;
}

#navPanel input{
	border-radius:2px;
	margin:0 3px 0 0;
	padding:5px;
	filter:var(--button-filter);
}

#navPanel #options{
	float:right;
	margin-right:7px;
}

#navPanel input:hover{
	background:var(--button-hover);
}

#navPanel input.open{
	background:var(--button-open);
}

input[type="image"]{
	-moz-appearance:none;
	width:16px;
	height:16px;
	color:transparent;
}

input[type="text"],input[type="number"]{
	-moz-appearance:none;
	background:var(--input-background);
	color:var(--text-color);
	border:1px solid var(--border-color2);
	border-radius:2px;
	height:23px;
	width:calc(100% - 12px);
	padding-left:5px;
	padding-right:5px;
}

select{
	-moz-appearance:none;
	background:var(--input-background);
	color:var(--text-color);
	border:1px solid var(--border-color2);
	border-radius:2px;
	font-size:13px;
	line-height:18px;
	width:100%;
	height:27px;
}

select:hover{
	background:var(--select-hover) var(--dropdown) no-repeat 100% 50%;
	background-position:right 4px center;
	padding-right:16px;
}

select option{
	padding:3px;
}

input[type="text"]:focus,input[type="number"]:focus,select:focus{
	border:1px solid var(--input-focus);
}

button:focus,button:hover,ul li:hover a{
	background:var(--button-focus);
}

input,select,button{
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
}

#scanFreqA,#scanFreqE{
	white-space: nowrap;
}

#aFreq,#eFreq{
	width:calc(50% - 12px);
	border-radius:2px 0 0 2px;
}

#aMulti,#eMulti{
	width:50%;
	border-left:none;
	border-radius:0 2px 2px 0;
}

#addingSite, #editingSite, #deletingSite, #addingFolder, #editingFolder, #deletingFolder{
	transition-property:opacity;
	transition-duration:200ms;
	width:calc(100% - 10px);
	opacity:1;
	background:var(--panel-background);
	border-bottom:1px solid var(--border-color);
	position:fixed;
	padding:5px;
	top:33px;
	box-shadow:0px 10px 10px -10px var(--border-color);
	z-index:2147483647;
}

.footer{
	padding:5px 3px 3px;
	float:right;
}

.negative{
	background:var(--negative-background);
	border-color:var(--negative-border);
	color:var(--negative-color);
}

.negative:hover{
	background:var(--negative-border);
}

.positive{
	background:var(--positive-background);
	border-color:var(--positive-border);
	color:var(--positive-color);
}

.positive:hover{
	background:var(--positive-border);
}

button{
	background:var(--background-color);
	color:var(--text-color);
	border:1px solid var(--border-color2);
	border-radius:2px;
	padding:4px 10px 6px;
	font-size:13px;
	line-height:18px;
	text-align:center;
	cursor:pointer;
}

.hidden{
	opacity:0 !important;
	visibility:hidden;
}

.none{
	display:none !important;
}

ul#lista{
	list-style-type:none;
	margin:0;
	padding:0 0 30px 0;
	min-height:calc(100% - 31px);
}

ul#lista ul{
	list-style-type:none;
	margin:0;
	padding:0;
	line-height:0;
	width:100%;
}

ul li{
	line-height:0;
	width:100%;
}

ul li a,
.folder a{
	display:inline-block;
	height:16px;
	background:var(--background-color);
	border-bottom:1px solid var(--link-border);
	padding:7px 6px;
	margin:0;
	line-height:14px;
	text-decoration:none;
	color:var(--text-color);
	white-space:nowrap;
	overflow:hidden;
	width:calc(100% - 12px);
	cursor:pointer;
}

ul li[data-paused="true"] a::before{
	content:"";
	position:relative;
	background-image:url("icons/paused.svg");
	margin:0 -12px -12px 0;
	height:12px;
	width:12px;
	top:-3px;
	left:-3px;
	display:block;
	filter:var(--invert-filter);
}

ul ul li[data-paused="true"] a::before{
	left:22px;
}

ul li input+a{
	width:calc(100% - 132px) !important;
}

ul li input{
	float:right;
	padding:7px !important;
	border:none !important;
	border-bottom:1px solid var(--context-border) !important;
	filter:var(--invert-filter);
}

ul li:hover input{
	background:var(--context-li-hover);
}

ul li .deleteSite:hover{
	background:var(--delete-background);
	border-color:var(--delete-border) !important;
	filter:var(--delete-filter);
}

ul li .editSite:hover,ul li .scanPage:hover,ul li .pauseScan:hover,ul li .playScan:hover{
	background:var(--context-hover);
}

ul li.scanned a{
	color:var(--text-color) !important;
	border-left:3px solid var(--scanned-border);
	padding-left:3px !important;
}

ul li.changed a{
	border-left:3px solid var(--changed-background);
	background-color:var(--changed-background);
	color:#fff !important;
	padding-left:3px !important;
}

ul li.opened a{
	border-left:none !important;
	background:var(--background-color) !important;
	color:var(--text-color) !important;
	padding-left:6px !important;
}

ul li.opened:hover a{
	background:var(--opened-hover) !important;
}

ul li.error a{
	color:#787878;
	border-left:3px solid var(--error-border);
	background-color:var(--error-background);
	padding-left:3px !important;
}

ul li.warn a{
	color:#787878;
	border-left:3px solid #ff9400;
	background-image:linear-gradient(135deg, transparent 30%, #ff9400 30%,#ff9400 70%, transparent 70%);
	background-size:25px 4px;
	background-repeat:repeat-x;
	background-position-y:bottom;
	padding-left:3px !important;
}

ul li.gray a{
	color:#787878;
}

ul li.error a .favicon,
ul li.warn a .favicon,
ul li.gray a .favicon{
	opacity:.5;
}

ul li.scanned a .favicon,
ul li.changed a .favicon,
ul li.opened a .favicon{
	opacity:1 !important;
}

#statusbar{
	position:fixed;
	bottom:-27px;
	opacity:0;
	background:var(--panel-background);
	border-top:1px solid var(--border-color);
	box-shadow:0px 0px 10px var(--border-color);
	width:100%;
	height:20px;
	padding:3px;
	z-index:2147483647;
	transition:bottom 250ms, opacity 250ms;
}

#statusbar.visible{
	bottom:0;
	opacity:1;
	transition:bottom 250ms, opacity 250ms;
}

.favicon,
.folderIcon{
	vertical-align:top;
	padding-right:5px;
	height:16px;
	width:16px;
	max-height:16px;
	max-width:16px;
	min-width:16px;
}

#deleteTitle,
#deleteFolderName{
	padding:7px 0;
}

#deleteUrl,
#deleteFolderDesc{
	font-size:75%;
}

#dragIndicator{
	background:#0a84ff;
	height:3px;
	margin-top:-2px;
	width:50px;
	position:absolute;
}

.folder>a{
	background:var(--folder-background);
}

.folder>a.indicator{
	background:var(--folder-indicator) !important;
}

.folder>a:hover{
	background:var(--folder-hover);
}

.folder .favicon{
	padding-left: 25px;
}

.folder.collapsed{
	height:31px;
	overflow:hidden;
}

.folder .folderIcon{
	background:url("icons/folder-opened.svg") no-repeat;
	filter:var(--invert-filter);
}

.folder.collapsed .folderIcon{
	background:url("icons/folder-closed.svg") no-repeat;
	filter:var(--invert-filter);
}

.deleteFolder{
    position: absolute;
	right:30px;
    padding:7px;
    margin-top:-7px;
	background:var(--folder-context-background);
	filter:var(--invert-filter);
}

.editFolder{
    position: absolute;
	right:0;
    padding:7px;
    margin-top:-7px;
	background:var(--folder-context-background);
	filter:var(--invert-filter);
}

a:hover .deleteFolder,a:hover .editFolder{
	background:var(--folder-hover-context-background);
}

a .deleteFolder:hover{
	background:var(--delete-background);
	filter:invert(100%);
}

a .editFolder:hover{
	background:var(--context-hover);
}
