html{
	height:calc(100% - 33px);
	padding-top: 33px;
	background:#f9f9fa;
}

body{
	width:100%;
	height:100%;
	font-size:14px;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	margin:0;
}

#navPanel{
	background:#f5f6f7;
	width:100%;
	height:26px;
	padding:3px;
	position:fixed;
	top:0;
	border-bottom:1px solid #ccc;
	box-shadow:0px 0px 10px #ccc;
	z-index:2147483647;
}

#navPanel input{
	border-radius:2px;
	margin:0 3px 0 0;
	padding:5px;
}

#navPanel #options{
	float:right;
	margin-right:7px;
}

#navPanel input:hover{
	background:#0c0c0d1a;
}

#navPanel input.open{
	background:#0c0c0d33;
}

input[type="image"]{
	-moz-appearance:none;
	width:16px;
	height:16px;
	color:transparent;
}

input[type="text"],input[type="number"]{
	-moz-appearance:none;
	background:#fff;
	color:#000;
	border:1px solid #ccc;
	border-radius:2px;
	height:23px;
	width:calc(100% - 12px);
	padding-left:5px;
	padding-right:5px;
}

select{
	-moz-appearance:none;
	background:#fff;
	color:#000;
	border:1px solid #ccc;
	border-radius:2px;
	font-size:13px;
	line-height:18px;
	width:100%;
	height:27px;
}

select:hover{
	background:#fff url("icons/dropdown.svg") no-repeat 100% 50%;
	padding-right:16px;
}

select option{
	padding:3px;
}

input[type="text"]:focus,input[type="number"]:focus,select:focus{
	border:1px solid #0078d7;
}

button:focus,button:hover,ul li:hover a{
	background:#0c0c0d1a;
}

input,select,button{
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
}

#scanFreqA,#scanFreqE{
	white-space: nowrap;
}

#aFreq,#eFreq{
	width:calc(50% - 12px);
	border-radius:2px 0 0 2px;
}

#aMulti,#eMulti{
	width:50%;
	border-left:none;
	border-radius:0 2px 2px 0;
}

#addingSite, #editingSite, #deletingSite, #addingFolder, #editingFolder, #deletingFolder{
	transition-property:opacity;
	transition-duration:200ms;
	width:calc(100% - 10px);
	opacity:1;
	background:#f5f6f7;
	border-bottom:1px solid #ccc;
	position:fixed;
	padding:5px;
	top:33px;
	box-shadow:0px 10px 10px -10px #ccc;
	z-index:2147483647;
}

.footer{
	padding:5px 3px 3px;
	float:right;
}

.negative{
	background:#ff0039;
	border-color:#d70022;
	color:#fff;
}

.negative:hover{
	background:#d70022;
}

.positive{
	background:#0a84ff;
	border-color:#0060df;
	color:#fff;
}

.positive:hover{
	background:#0060df;
}

button{
	background:#f9f9fa;
	color:#000;
	border:1px solid #ccc;
	border-radius:2px;
	padding:4px 10px 6px;
	font-size:13px;
	line-height:18px;
	text-align:center;
	cursor:pointer;
}

.hidden{
	opacity:0 !important;
	visibility:hidden;
}

.none{
	display:none !important;
}

ul#lista{
	list-style-type:none;
	margin:0;
	padding:0 0 30px 0;
	min-height:calc(100% - 31px);
}

ul#lista ul{
	list-style-type:none;
	margin:0;
	padding:0;
	line-height:0;
	width:100%;
}

ul li{
	line-height:0;
	width:100%;
}

ul li a,
.folder a{
	display:inline-block;
	height:16px;
	background:#f9f9fa;
	border-bottom:1px solid #d7d7db;
	padding:7px 6px;
	margin:0;
	line-height:14px;
	text-decoration:none;
	color:inherit;
	white-space:nowrap;
	overflow:hidden;
	width:calc(100% - 12px);
	cursor:pointer;
}

ul li input+a{
	width:calc(100% - 102px) !important;
}

ul li input{
	float:right;
	padding:7px !important;
	border:none !important;
	border-bottom:1px solid #d7d7db !important;
}

ul li:hover input{
	background:#0c0c0d1a;
}

ul li .deleteSite:hover{
	background:#28ffdd;
	border-color:#282824 !important;
	filter:invert(100%);
}

ul li .editSite:hover,ul li .scanPage:hover{
	background:#0c0c0d33;
}

ul li.scanned a{
	border-left:3px solid #30e60b;
	padding-left:3px !important;
}

ul li.changed a{
	border-left:3px solid #0a84ff;
	background-color:#0a84ff;
	color:#fff;
	padding-left:3px !important;
}

ul li.opened a{
	border-left:none !important;
	background:#f9f9fa !important;
	color:#000 !important;
	padding-left:6px !important;
}

ul li.opened:hover a{
	background:#0c0c0d1a !important;
}

ul li.error a{
	border-left:3px solid #ff0039;
	background-color:#ff003966;
	padding-left:3px !important;
}

ul li.warn a{
	border-left:3px solid #ff9400;
	background-image:linear-gradient(135deg, transparent 30%, #ff9400 30%,#ff9400 70%, transparent 70%);
	background-size:25px 4px;
	background-repeat:repeat-x;
	background-position-y:bottom;
	padding-left:3px !important;
}

#statusbar{
	position:fixed;
	bottom:-27px;
	opacity:0;
	background:#f5f6f7;
	border-top:1px solid #ccc;
	box-shadow:0px 0px 10px #ccc;
	width:100%;
	height:20px;
	padding:3px;
	z-index:2147483647;
	transition:bottom 250ms, opacity 250ms;
}

#statusbar.visible{
	bottom:0;
	opacity:1;
	transition:bottom 250ms, opacity 250ms;
}

.favicon,
.folderIcon{
	vertical-align:top;
	padding-right:5px;
	height:16px;
	width:16px;
	max-height:16px;
	max-width:16px;
	min-width:16px;
}

#deleteTitle,
#deleteFolderName{
	padding:7px 0;
}

#deleteUrl,
#deleteFolderDesc{
	font-size:75%;
}

#dragIndicator{
	background:#0a84ff;
	height:3px;
	margin-top:-2px;
	width:50px;
	position:absolute;
}

.folder>a{
	background:#ffe90033;
}

.folder>a.indicator{
	background:#0a84ff66 !important;
}

.folder>a:hover{
	background:#ffe90066;
}

.folder .favicon{
	padding-left: 25px;
}

.folder.collapsed{
	height:31px;
	overflow:hidden;
}

.folder .folderIcon{
	background:url("icons/folder-opened.svg") no-repeat;
}

.folder.collapsed .folderIcon{
	background:url("icons/folder-closed.svg") no-repeat;
}

.deleteFolder{
    position: absolute;
	right:30px;
    padding:7px;
    margin-top:-7px;
	background:#faf6c8;
}

.editFolder{
    position: absolute;
	right:0;
    padding:7px;
    margin-top:-7px;
	background:#faf6c8;
}

a:hover .deleteFolder,a:hover .editFolder{
	background:#fcf396;
}

a .deleteFolder:hover{
	background:#28ffdd;
	filter:invert(100%);
}

a .editFolder:hover{
	background:#0c0c0d33;
}


html.dark{
	background:#38383D;
	color:#fff;
}

.dark #navPanel{
	background:#323234;
	border-bottom:1px solid #0c0c0d;
	box-shadow:0px 0px 10px #0c0c0d;
}

.dark #navPanel input{
	filter:invert(80%);
}

.dark #navPanel input:hover{
	background:#bbbbb8;
}

.dark #navPanel input.open{
	background:#8f8f8e;
}

.dark input[type="text"],.dark input[type="number"]{
	background:#474749;
	color:#fff;
	border:1px solid #262627;
}

.dark select{
	background:#474749;
	color:#fff;
	border:1px solid #262627;
}

.dark select:hover{
	background:#474749 url("icons/dropdown.svg") no-repeat 100% 50%;
}

.dark input[type="text"]:focus,.dark input[type="number"]:focus,.dark select:focus{
	border:1px solid #0078d7;
}

.dark .negative{
	background:#d70022;
	border-color:#ff0039;
	color:#f9f9fa;
}

.dark .negative:hover{
	background:#ff0039;
}

.dark .positive{
	background:#0060df;
	border-color:#0a84ff;
	color:#f9f9fa;
}

.dark .positive:hover{
	background:#0a84ff;
}

.dark button{
	background:#38383D;
	color:#fff;
	border:1px solid #262627;
}

.dark button:focus,.dark  button:hover,.dark ul li:hover a{
	background:#4a4a4f;
}

.dark #addingSite,.dark #editingSite,.dark #deletingSite,.dark #addingFolder,.dark #editingFolder,.dark #deletingFolder{
	background:#323234;
	border-bottom:1px solid #0c0c0d;
	box-shadow:0px 10px 10px -10px #0c0c0d;
}

.dark ul li a,
.dark .folder a{
	background:#38383D;
	border-bottom:1px solid #323234;
	color:#fff;
}

.dark ul li input{
	border-bottom:1px solid #cdcdcb !important;
	filter:invert(100%);
}

.dark ul li:hover input{
	background:#b5b5b0;
}

.dark ul li .deleteSite:hover{
	background:#00ffc6;
	border-color:#cdcdcb !important;
}

.dark ul li .editSite:hover,.dark ul li .scanPage:hover{
	background:#a4a4a2;
}

.dark ul li.opened a{
	background:#38383D !important;
	color:#fff !important;
}

.dark ul li.opened:hover a{
	background:#4a4a4f !important;
}

.dark ul li.error a{
	border-left:3px solid #d70022;
	background-color:#d7002266;
}

.dark #statusbar{
	background:#323234;
	border-top:1px solid #0c0c0d;
	box-shadow:0px 0px 10px #0c0c0d;
}

.dark .folder>a{
	background:#0f1126;
}

.dark .folder>a.indicator{
	background:#0a84ff !important;
}

.dark .folder>a:hover{
	background:#202340;
}

.dark .folder .folderIcon,.dark .folder.collapsed .folderIcon{
	filter:invert(100%);
}

.dark .deleteFolder,.dark .editFolder{
	filter:invert(100%);
	background:#f0eed9;
}

.dark a:hover .deleteFolder,.dark a:hover .editFolder{
	background:#dfdcbf;
}

.dark a .deleteFolder:hover{
	background:#00ffc6;
	filter:invert(100%);
}

.dark a .editFolder:hover{
	background:#d1ceb7;
}
