#__wps_raw{
	display:grid;
	grid-template-columns:50% 50%;
	margin:0;
}

#__wps_rawNews{
	background-color:#aeffae;
	padding:7px 15px;
	overflow-wrap:break-word;
}

#__wps_rawDeleted{
	background-color:#fca2af;
	padding:7px 15px;
	overflow-wrap:break-word;
}
