body#body10153{
	margin:61px 0 0 0 !important;
	padding:0 !important;
}

body#body10153.hiddenHeader10153{
	margin:0 !important;
	padding:0 !important;
}

#header10153{
	background:#f5f6f7 !important;
	border:0 !important;
	border-bottom:1px solid #0078d7 !important;
	border-radius:0 !important;
	box-shadow:0px 0px 10px #888 !important;
	box-sizing:initial !important;
	color:#000 !important;
	display:grid !important;
	grid-template-columns:48px minmax(100px,max-content) minmax(max-content,auto) max-content;
	grid-template-rows:60% 40%;
	grid-template-areas:"icon title set tabs"
						"icon last last tabs";
	float:none !important;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif !important;
	font-size:14px !important;
	font-style:normal !important;
	font-weight:400 !important;
	height:40px !important;
	left:0 !important;
	line-height:20px !important;
	margin:0 !important;
	min-height:40px !important;
	min-width:calc(100% - 20px) !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:10px !important;
	position:fixed !important;
	top:0 !important;
	text-align:left !important;
	transform:none !important;
	visibility:visible !important;
	width:calc(100% - 20px) !important;
	z-index:2147483647 !important;
	transition:top 300ms !important;
}

.hiddenHeader10153 #header10153{
	top:-61px !important;
	transition:top 300ms !important;
}

.hiddenHeader10153.autoHidden10153 #header10153{
	transition:none !important;
}

#icon10153{
	grid-area:icon;
	background:transparent !important;
	border:0 !important;
	border-radius:0 !important;
	display:block !important;
	float:left !important;
	height:48px !important;
	margin:-4px 5px 0 -5px !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 !important;
	position:static !important;
	transform:none !important;
	visibility:visible !important;
	width:48px !important;
}

#title10153{
	grid-area:title;
}

#title10153,#deletingSite10153 b,#editingSite10153 b{
	background:transparent !important;
	border:0 !important;
	color:#000 !important;
	display:inline !important;
	float:none !important;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif !important;
	font-size:14px !important;
	font-style:normal !important;
	font-weight:800 !important;
	height:auto !important;
	line-height:20px !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 !important;
	position:static !important;
	text-align:left !important;
	transform:none !important;
	visibility:visible !important;
	width:auto !important;
	white-space:nowrap !important;
}

#set10153{
	grid-area:set;
	background:#f5f6f7 !important;
	border:0 !important;
	display:block !important;
	float:none !important;
	height:auto !important;
	line-height:20px !important;
	margin:-2px 0 0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 5px !important;
	position:static !important;
	transform:none !important;
	visibility:visible !important;
	width:auto !important;
}

#header10153 div button, .footer10153 button{
	border-radius:2px !important;
	box-shadow:none !important;
	box-sizing:border-box !important;
	cursor:pointer !important;
	display:inline-block !important;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif !important;
	font-size:12px !important;
	font-style:normal !important;
	font-weight:400 !important;
	height:auto !important;
	line-height:18px !important;
	margin:0 2px !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	position:static !important;
	text-align:center !important;
	text-shadow:none !important;
	text-transform:none !important;
	visibility:visible !important;
	width:auto !important;
	white-space:normal !important;
}

#tabs10153 button{
	color:#000 !important;
	background:#f9f9fa !important;
	border:1px solid #ccc !important;
	padding:4px 8px 6px !important;
}

#tabs10153 button:hover{
	background:#0c0c0d1a !important;
}

#tabs10153 button:active, #tabs10153 button.active10153{
	background:#0078d7 !important;
	border-color:#0060df !important;
	color:#fff !important;
}

#tabs10153 button.active10153:hover{
	background:#0060df !important;
}

#tabs10153 button[disabled]{
	opacity:.4 !important;
}

#tabs10153 button[disabled]:hover,
#tabs10153 button[disabled]:active{
	color:#000 !important;
	background:#f9f9fa !important;
	border:1px solid #ccc !important;
}

.footer10153 button{
	padding:4px 8px 6px !important;
}

#set10153 button{
	padding:2px 8px 3px !important;
}

.neutral{
	border:1px solid #ccc !important;
	color:#000 !important;
	background:#f9f9fa !important;
}
.neutral:hover{
	background:#0c0c0d1a !important;
}

.negative{
	border:1px solid #d70022 !important;
	background:#ff0039 !important;
	color:#fff !important;
}
.negative:hover,#header10153 #delete10153:hover{
	background:#d70022 !important;
	border-color:#d70022 !important;
}

.positive{
	border:1px solid #0060df !important;
	background:#0078d7 !important;
	color:#fff !important;
}
.positive:hover{
	background:#0060df !important;
}

#lastScan10153{
	 grid-area:last;
	border-radius:0 !important;
	background:transparent !important;
	color:#888 !important;
	border:0 !important;
	display:block !important;
	float:none !important;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif !important;
	font-size:12px !important;
	font-style:normal !important;
	font-weight:400 !important;
	height:auto !important;
	line-height:20px !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 !important;
	position:static !important;
	transform:none !important;
	visibility:visible !important;
	width:auto !important;
}

#tabs10153{
	grid-area:tabs;
	background:#f5f6f7 !important;
	border:0 !important;
	display:block !important;
	float:none !important;
	height:auto !important;
	line-height:20px !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:5px 0 !important;
	position:static !important;
	transform:none !important;
	visibility:visible !important;
	width:auto !important;
}

#editingSite10153, #deletingSite10153{
	border-radius:0 !important;
	background:#f5f6f7 !important;
	border:1px solid #ccc !important;
	box-shadow:0px 0px 10px #888 !important;
	float:none !important;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif !important;
	font-size:14px !important;
	font-style:normal !important;
	font-weight:400 !important;
	height:auto !important;
	line-height:20px !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:10px !important;
	position:fixed !important;
	left:calc(50% - 161px) !important;
	top:200px !important;
	transform:none !important;
	width:300px !important;
	visibility:visible !important;
	z-index:2147483647 !important;
	display:block;
}

#deleteTitle10153{
	border-radius:0 !important;
	background:transparent !important;
	color:#000 !important;
	border:0 !important;
	display:block !important;
	float:none !important;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif !important;
	font-size:14px !important;
	font-style:normal !important;
	font-weight:400 !important;
	height:auto !important;
	line-height:20px !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 !important;
	position:static !important;
	transform:none !important;
	visibility:visible !important;
	width:auto !important;
}

.footer10153{
	background:transparent !important;
	border:0 !important;
	display:inline-block !important;
	float:right !important;
	height:auto !important;
	line-height:20px !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 !important;
	padding-top:7px !important;
	position:static !important;
	transform:none !important;
	visibility:visible !important;
	width:auto !important;
}

#editingSite10153 table{
	border-collapse:initial !important;
	background:transparent !important;
	border:0 !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 !important;
	height:auto !important;
	line-height:20px !important;
	padding-top:7px !important;
	position:static !important;
	transform:none !important;
	visibility:visible !important;
	width:auto !important;
}

#editingSite10153 table td{
	border-collapse:initial !important;
	background:transparent !important;
	border:0 !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	height:auto !important;
	padding:2px !important;
	width:auto !important;
	font-size:14px !important;
	color:#000 !important;
	vertical-align: initial !important;
}

#editingSite10153 table select,#editingSite10153 table input{
	border-radius:2px !important;
	color:#000 !important;
	height:auto !important;
	width:calc(100% - 4px) !important;
	padding:3px !important;
	border:1px solid #ccc !important;
	outline:none !important;
	font-size:14px !important;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif !important;
	line-height:initial !important;
	-moz-appearance:none !important;
	box-sizing:content-box !important;
	background:#fff !important;
	opacity:1 !important;
	overflow:visible !important;
}

#editingSite10153 table select:focus,#editingSite10153 table input:focus{
	border:1px solid #0078d7 !important;
}
 
#editingSite10153 table select{
	padding:0 3px !important;
	background:#fff !important;
}

#editingSite10153 table select:hover{
	background:#fff url("icons/dropdown.svg") no-repeat 100% 50% !important;
	padding-right:16px !important;
	width: calc(100% - 17px) !important;
}

#editingSite10153 table select option{
	padding:2px !important;
}

#editingSite10153 #eFreq10153{
	width:50% !important;
	border-radius:2px 0 0 2px !important;
}

#editingSite10153 #eMulti10153{
	width:calc(50% - 11px) !important;
	margin-right:-4px !important;
	border-left:none !important;
	border-radius:0 2px 2px 0 !important;
}

#editingSite10153 #eMulti10153:hover{
	width:calc(50% - 24px) !important;
}
 
.hidden{
	display:none !important;
}

.changes10153 a{
	background:#ffa !important;
}

.changes10153.hlc a,
.changes10153.hlc a .changes10153{
	background:#00feff !important;
	color:#000 !important;
}

.changes10153{
	background:#ffe900 !important;
	color:#000 !important;
	border:0 !important;
	padding:0 !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:none !important;
}

.changes10153 a,
a .changes10153{
	color:#006abc !important;
}

.changes10153:hover a,
a .changes10153:hover{
	color:#00f !important;
	background:#ffe100 !important;
}

.changes10153.hlc{
	background-color:#00feff !important;
	color:#000 !important;
}

#toogleHeader10153{
	position:absolute !important;
	right:50% !important;
	top:65px !important;
	margin:-22px 0 0 !important;
	background:none !important;
	border:0 !important;
	border-radius:0 !important;
	box-sizing:initial !important;
	display:block !important;
	float:none !important;
	height:22px !important;
	min-height:22px !important;
	min-width:64px !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 !important;
	transform:none !important;
	visibility:visible !important;
	width:64px !important;
	z-index:2147483647 !important;
}

.hiddenHeader10153 #toogleHeader10153{
	position:fixed !important;
	top:-2px !important;
	margin:0 !important;
	opacity:.9 !important;
	transition:margin-top 200ms 350ms !important;
}

#toogleHeader10153:hover{
	top:63px !important;
}

.hiddenHeader10153 #toogleHeader10153:hover{
	position:fixed !important;
	top:0px !important;
	opacity:1 !important;
}

x-highlight{
	position:absolute !important;
	right:12px !important;
	top:75px !important;
	margin:0 !important;
	background:#F5F6F7 !important;
	border:1px solid #ccc !important;
	border-radius:2px !important;
	box-sizing:initial !important;
	display:block !important;
	float:none !important;
	height:26px !important;
	min-height:26px !important;
	width:220px !important;
	min-width:220px !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	padding:0 !important;
	transform:none !important;
	visibility:visible !important;
	z-index:2147483647 !important;
	-moz-user-select: none !important;
}

x-highlight x-text{
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif !important;
	font-size:14px !important;
	font-style:normal !important;
	font-weight:400 !important;
	line-height:26px !important;
	padding:0 0 0 7px !important;
	background:transparent !important;
	border:0 !important;
	color:#000 !important;
	display:inline !important;
	float:none !important;
	height:auto !important;
	margin:0 !important;
	opacity:1 !important;
	overflow:visible !important;
	outline:0 !important;
	position:static !important;
	text-align:left !important;
	transform:none !important;
	visibility:visible !important;
	width:auto !important;
	white-space:nowrap !important;
}

x-highlight x-button{
	background:#f5f6f7 url("icons/dropdown.svg") no-repeat calc(50% + 2px) center !important;
	background-size:16px !important;
	min-height:26x !important;
	height:26px !important;
	width:26px !important;
	min-width:26px !important;
	border:none !important;
	box-sizing:initial !important;
	display:inline-block !important;
	float:left !important;
}

x-highlight x-button:hover{
	background-color:#d7d7d7 !important;
}

x-highlight x-button:active{
	background-color:#c0c0c0 !important;
}

#prev10153{
	transform:rotate(180deg) !important;
}

#next10153{
	border-left:1px solid #ccc !important;
	border-right:1px solid #ccc !important;
}

x-close{
	height: 10px !important;
	width: 10px !important;
	padding: 5px !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4QkDDxY5RqjV+gAAAHRJREFUGNON0LENwkAMheHvSB/RMQSbsQA5KkSTdDBQKiZKlzI0RjpOFwlLluzn39KzEy7oMWlHxgI3bBgb0BSz/BXuITyRIl+hXevtEt6FanjDUA4ORZ1wLPpTaD9Re6o9N6G9A+U/3jN0OOONRwOcsWL5AOrvIfVHZMHQAAAAAElFTkSuQmCC') !important;
	background-repeat:no-repeat !important;
	background-position:50% !important;
	border-radius:2px !important;
	display: inline-block !important;
	box-sizing: content-box !important;
	float:right !important;
	margin:3px !important;
}

x-close:hover{
	background-color:#d7d7d7 !important;
}

x-close:active{
	background-color:#c0c0c0 !important;
}
