html,
body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	font-size:14px;
}

#content{
	height:100%;
	margin:0;
	padding:61px 0 0 0;
	box-sizing:border-box;
}

body.hiddenHeader #content{
	padding-top:0;
}

#__wps_iframe{
	height:100%;
	width:100%;
	border:none;
	display:block;
}

#header{
	background-color:#f5f6f7;
	border-bottom:1px solid #0078d7;
	box-shadow:0px 0px 10px #888;
	box-sizing:border-box;
	display:grid;
	grid-template-columns:60px minmax(100px,max-content) minmax(max-content,auto) max-content;
	grid-template-rows:60% 40%;
	grid-template-areas:"icon title set tabs"
						"icon last last tabs";
	height:61px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:2147483647;
	transition:top 300ms;
}

.hiddenHeader #header{
	top:-61px;
	transition:top 300ms;
}

.hiddenHeader.autoHidden #header{
	transition:none;
}

#icon{
	grid-area:icon;
	height:48px;
	width:48px;
	margin:6px;
}

h1#title{
	grid-area:title;
	font-size:20px;
	font-style:italic;
	font-weight:400;
	line-height:36px;
	max-width:700px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:"";
	margin:0;
}

#controls{
	grid-area:set;
	padding:7px 2px;
}

#controls button,
.popupFooter button{
	border-radius:2px;
	cursor:pointer;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 4px;
}

.popupFooter button{
	padding:4px 8px 6px;
}

#controls button{
	padding:2px 8px 3px;
}

#current{
	display:inline-block;
	background-image:url("icons/extLink.svg");
	background-repeat:no-repeat;
	background-position:center center;
	border-radius:2px;
	padding:6px;
	height:30px;
	width:30px;
	box-sizing:border-box;
	cursor:pointer;
	vertical-align:top;
}

select#viewMode{
	border-radius:2px;
	height:30px;
	width:180px;
	box-sizing:border-box;
	padding:3px;
	margin-right:4px;
	font-size:14px;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	-moz-appearance:none;
	background-image:url("icons/dropdown.svg#d");
	background-repeat:no-repeat;
	background-position:right 6px center;
}

select#viewMode option[disabled]{
	display:none;
}

.neutral{
	border:1px solid #ccc !important;
	background-color:#f9f9fa !important;
}
.neutral:hover{
	background-color:#0c0c0d1a !important;
}
.neutral:active{
	background-color:#0c0c0d33 !important;
}

.negative{
	border:1px solid #d70022 !important;
	background-color:#ff0039 !important;
	color:#fff !important;
}
.negative:hover{
	background-color:#d70022 !important;
	border-color:#d70022 !important;
}
.negative:active{
	background-color:#a4000f !important;
}

.positive{
	border:1px solid #0060df !important;
	background-color:#0078d7 !important;
	color:#fff !important;
}
.positive:hover{
	background-color:#0060df !important;
}
.positive:active{
	background-color:#003eaa !important;
}

#versionTime{
	grid-area:last;
	color:#888;
	font-size:12px;
	background-image:url("icons/clock.svg");
	background-size:16px;
	background-repeat:no-repeat;
	padding-left:18px;
	cursor:default;
}

#tabs{
	grid-area:tabs;
	padding:15px 7px 0 0;
}

#editPopup,
#deletePopup{
	background:#f5f6f7;
	border:1px solid #ccc;
	box-shadow:0 0 0 2000px #000c;
	padding:10px;
	position:fixed;
	left:calc(50% - 200px);
	top:calc(50% - 160px);
	width:400px;
	box-sizing:border-box;
	z-index:2147483647;
}

#deletePopup{
	top:calc(50% - 50px);
}

h2{
	font-size:17px;
	font-weight:600;
	line-height:20px;
	margin:0 0 7px 0;
}

.popupFooter{
	margin-top:7px;
	float:right;
}

#editPopup table td{
	padding:2px;
	white-space:nowrap;
}

#editPopup table select,
#editPopup table input{
	border-radius:2px;
	height:20px;
	width:calc(100% - 4px);
	box-sizing:content-box;
	padding:3px;
	border:1px solid #ccc;
	font-size:14px;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	line-height:20px;
	-moz-appearance:none;
}

#editPopup table select:focus,
#editPopup table input:focus{
	border:1px solid #0078d7;
}

#editPopup table select:hover{
	background:#fff url("icons/dropdown.svg#d") no-repeat right 4px center;
	padding-right:16px;
	width:calc(100% - 17px);
}

#editPopup #scanFreqEdit{
	width:50%;
	border-radius:2px 0 0 2px;
}

#editPopup #unitEdit{
	width:calc(50% - 11px);
	border-left:none;
	border-radius:0 2px 2px 0;
}

#editPopup #unitEdit:hover{
	width:calc(50% - 24px);
}

.hidden{
	display:none !important;
}

#toggleHeader{
	height:24px;
	width:32px;
	box-sizing:border-box;
	position:absolute;
	right:calc(50% - 16px);
	top:60px;
	margin-top:-24px;
	background:url(icons/arrow.svg) no-repeat center center;
	background-size:20px;
	padding:6px;
	transform:scale(1,-1);
	z-index:2147483647;
}

#toggleHeader:hover{
	top:58px;
}

.hiddenHeader #toggleHeader{
	background-color:#f5f6f7;
	border:1px solid #0078d7;
	border-radius:2px;
	position:fixed;
	top:-3px;
	margin:0;
	opacity:.9;
	transform:scale(1,1);
	transition:margin-top 200ms 350ms;
}

.hiddenHeader #toggleHeader:hover{
	top:-1px;
	opacity:1;
}

x-highlight{
	position:absolute;
	right:25px;
	top:75px;
	background-color:#f5f6f7;
	border:1px solid #ccc;
	border-radius:2px;
	height:26px;
	min-width:205px;
	z-index:2147483647;
	-moz-user-select:none;
}

x-highlight x-text{
	line-height:26px;
	padding-left:7px;
	white-space:nowrap;
}

x-highlight x-button{
	background:#f5f6f7 url("icons/arrow.svg") no-repeat center center;
	background-size:14px;
	height:26px;
	width:26px;
	float:left;
}

x-highlight x-button:hover{
	background-color:#d7d7d7;
}

x-highlight x-button:active{
	background-color:#c0c0c0;
}

#prev{
	transform:scale(1,-1);
}

#next{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

x-close{
	height:10px;
	width:10px;
	padding:5px;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4QkDDxY5RqjV+gAAAHRJREFUGNON0LENwkAMheHvSB/RMQSbsQA5KkSTdDBQKiZKlzI0RjpOFwlLluzn39KzEy7oMWlHxgI3bBgb0BSz/BXuITyRIl+hXevtEt6FanjDUA4ORZ1wLPpTaD9Re6o9N6G9A+U/3jN0OOONRwOcsWL5AOrvIfVHZMHQAAAAAElFTkSuQmCC");
	background-repeat:no-repeat;
	background-position:50%;
	border-radius:2px;
	float:right;
	margin:3px;
}

x-close:hover{
	background-color:#d7d7d7;
}

x-close:active{
	background-color:#c0c0c0;
}

#editPopup input[type="checkbox"]{
	-moz-appearance:none;
	width:18px;
	height:18px;
	border:1px solid #d7d7db;
	border-radius:2px;
	margin:0;
	margin-inline-end:8px;
	background-color:#fff;
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align:bottom;
	padding:0;
}

#editPopup input[type="checkbox"]:checked{
	background-image:url("icons/checked.svg#b");
}

#editPopup input[type="checkbox"]:hover:not(:disabled),
#editPopup input[type="checkbox"]:focus:not(:disabled){
	border-color:#0a84ff;
}

#editPopup #inspectButtonEdit{
	height:28px;
	width:28px;
	box-sizing:border-box;
	padding:6px;
	vertical-align:bottom;
	margin-left:4px;
	border:none;
}

#editPopup #inspectButtonEdit:hover{
	background:#dddede;
	border-radius:2px;
}

#editPopup #cssSelectorEdit{
	width:calc(100% - 36px);
}

#editPopup .notVisible{
	visibility:hidden;
}

#editPopup #rowSelectorEdit.notVisible *{
	margin:0;
	padding-top:0;
	padding-bottom:0;
	height:0;
	line-height:0;
	border:none;
}
