.light:root{
	--text-color:#0c0c0d;
	--border-color:#ccc;
	--background-color:#f5f6f7;
	--time-color:#777;
	
	--neutral-color:#0c0c0d;
	--neutral-border:#c6c7c8;
	--neutral-background:#f9f9fa;
	--neutral-hover:#dddedf;
	--neutral-active:#c6c7c8;
	
	--negative-color:#fff;
	--negative-border:#d70022;
	--negative-background:#ff0039;
	--negative-hover:#d70022;
	--negative-active:#a4000f;
	
	--positive-color:#fff;
	--positive-border:#0060df;
	--positive-background:#0078d7;
	--positive-hover:#0060df;
	--positive-active:#003eaa;
	
	--ghost-hover:#dddedf;
	--ghost-active:#c6c7c8;
	
	--input-color:#0c0c0d;
	--input-border:#ccc;
	--input-background:#fff;
	--input-focus:#0078d7;
	
	--icon:url("icons/icon.svg");
	--dropdown:url("icons/dropdown.svg#d");
	--arrow:url("icons/arrow.svg#d");
	--close:url("icons/close.svg#d");
	
	--invert:invert(0);
	--brightness:brightness(1.0);
}

.dark:root {
	--text-color:#f9f9fa;
	--border-color:#0c0c0d;
	--background-color:#323234;
	--time-color:#444;

	--neutral-color:#f9f9fa;
	--neutral-border:#5a5a5c;
	--neutral-background:#474749;
	--neutral-hover:#5a5a5c;
	--neutral-active:#6e6e70;
	
	--negative-color:#f9f9fa;
	--negative-border:#ff0039;
	--negative-background:#d70022;
	--negative-hover:#ff0039;
	--negative-active:#a4000f;
	
	--positive-color:#f9f9fa;
	--positive-border:#0a84ff;
	--positive-background:#0060df;
	--positive-hover:#0a84ff;
	--positive-active:#003eaa;
	
	--ghost-hover:#474749;
	--ghost-active:#5a5a5c;
	
	--input-color:#f9f9fa;
	--input-border:#262627;
	--input-background:#474749;
	--input-focus:#0078d7;
	
	--icon:url("icons/icon.svg#w");
	--dropdown:url("icons/dropdown.svg#l");
	--arrow:url("icons/arrow.svg#l");
	--close:url("icons/close.svg#l");
	
	--invert:invert(1);
	--brightness:brightness(1.5);
}

html,
body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	font-size:14px;
	color:var(--text-color);
}

#content{
	height:100%;
	margin:0;
	padding:61px 0 0 0;
	box-sizing:border-box;
}

body.hiddenHeader #content{
	padding-top:0;
}

#__wps_iframe{
	height:100%;
	width:100%;
	border:none;
	display:block;
}

#header{
	background-image:var(--icon);
	background-repeat:no-repeat;
	background-position:6px 6px;
	background-color:var(--background-color);
	border-bottom:1px solid #0078d7;
	box-shadow:0px 0px 10px #888;
	box-sizing:border-box;
	display:grid;
	grid-template-columns:minmax(100px,max-content) minmax(max-content,auto) max-content;
	grid-template-rows:60% 40%;
	grid-template-areas:"title set tabs"
						"last last tabs";
	height:61px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:2147483647;
	transition:top 300ms;
	padding-left:60px;
}

.hiddenHeader #header{
	top:-61px;
	transition:top 300ms;
}

.hiddenHeader.autoHidden #header{
	transition:none;
}

h1#title{
	grid-area:title;
	font-size:20px;
	font-style:italic;
	font-weight:400;
	line-height:36px;
	max-width:700px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:"";
	margin:0;
}

#controls{
	grid-area:set;
	padding:7px 2px;
}

button{
	border-radius:2px;
	cursor:pointer;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 4px;
}

.popupFooter button{
	padding:4px 8px 6px;
}

#controls button{
	padding:2px 8px 3px;
}

#current{
	display:inline-block;
	border-radius:2px;
	padding:6px;
	height:30px;
	width:30px;
	box-sizing:border-box;
	cursor:pointer;
	vertical-align:top;
}

#currentIcon{
	background-image:url("icons/extLink.svg");
	background-repeat:no-repeat;
	background-position:center center;
	display:block;
	height:16px;
	filter:var(--brightness);
}

select#viewMode{
	border-radius:2px;
	height:30px;
	width:180px;
	box-sizing:border-box;
	padding:3px;
	margin-right:4px;
	font-size:14px;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	-moz-appearance:none;
	background-image:var(--dropdown);
	background-repeat:no-repeat;
	background-position:right 6px center;
}

select#viewMode option[disabled]{
	display:none;
}

.neutral{
	border:1px solid var(--neutral-border) !important;
	background-color:var(--neutral-background) !important;
	color:var(--neutral-color) !important;
}
.neutral:hover{
	background-color:var(--neutral-hover) !important;
}
.neutral:active{
	background-color:var(--neutral-active) !important;
	border-color:var(--neutral-active) !important;
}

.negative{
	border:1px solid var(--negative-border) !important;
	background-color:var(--negative-background) !important;
	color:var(--negative-color) !important;
}
.negative:hover{
	background-color:var(--negative-hover) !important;
}
.negative:active{
	background-color:var(--negative-active) !important;
	border-color:var(--negative-active) !important;
}

.positive{
	border:1px solid var(--positive-border) !important;
	background-color:var(--positive-background) !important;
	color:var(--positive-color) !important;
}
.positive:hover{
	background-color:var(--positive-hover) !important;
}
.positive:active{
	background-color:var(--positive-active) !important;
	border-color:var(--positive-active) !important;
}

#versionTime{
	grid-area:last;
	color:var(--time-color);
	font-size:13px;
	background-image:url("icons/clock.svg");
	background-size:16px;
	background-repeat:no-repeat;
	background-position:0 1px;
	padding-left:18px;
	cursor:default;
	filter:var(--invert);
}

#tabs{
	grid-area:tabs;
	padding:15px 7px 0 0;
}

#editPopup,
#deletePopup{
	background:var(--background-color);
	border:1px solid var(--border-color);
	box-shadow:0 0 0 2000px #000c;
	padding:10px;
	position:fixed;
	box-sizing:border-box;
	z-index:2147483647;
}

#deletePopup{
	top:calc(50% - 50px);
	left:calc(50% - 200px);
	width:400px;
}

#editPopup{
	display:grid;
	grid-template-columns:calc(50% - 10px) calc(50% - 10px);
	grid-column-gap:20px;
	align-items:start;
	top:calc(50% - 210px);
	left:calc(50% - 350px);
	width:700px;
}

h2{
	font-size:17px;
	font-weight:600;
	line-height:20px;
	margin:0 0 7px 0;
}

.popupFooter{
	margin-top:7px;
	float:right;
	grid-column:2/3;
	justify-self:right;
}

#editPopup #editSection{
	display:grid;
	grid-template-columns:min-content auto;
	grid-row-gap:4px;
	grid-column-gap:4px;
	align-items:center;
}

#editSection h2,
#editSection .row{
	grid-column:1 / 3;
}

#editPopup label{
	white-space:nowrap;
}

#editPopup select,
#editPopup input{
	border-radius:2px;
	height:28px;
	width:100%;
	box-sizing:border-box;
	padding:3px;
	border:1px solid var(--input-border);
	background-color:var(--input-background);
	color:var(--input-color);
	font-size:14px;
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	line-height:20px;
	-moz-appearance:none;
}

#editPopup select:focus,
#editPopup input:focus{
	border:1px solid var(--input-focus);
}

#editPopup select:hover{
	background:var(--input-background) var(--dropdown) no-repeat right 4px center;
	padding-right:16px;
}

#editPopup #scanFreqEdit{
	width:50%;
	border-radius:2px 0 0 2px;
}

#editPopup #unitEdit{
	width:50%;
	border-left:none;
	border-radius:0 2px 2px 0;
}

#editPopup input[type="checkbox"]{
	-moz-appearance:none;
	width:20px;
	height:20px;
	border:1px solid var(--input-border);
	border-radius:2px;
	margin:0;
	margin-inline-end:8px;
	background-color:var(--input-background);
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align:bottom;
	padding:0;
}

#editPopup input[type="checkbox"]:checked{
	background-image:url("icons/checked.svg#b");
}

#editPopup input[type="checkbox"]:hover:not(:disabled),
#editPopup input[type="checkbox"]:focus:not(:disabled){
	border-color:var(--input-focus);
}

#editPopup input[type="radio"]{
	-moz-appearance:none;
	width:20px;
	height:20px;
	border:1px solid var(--input-border);
	border-radius:50%;
	margin:0;
	background-color:var(--input-background);
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align:bottom;
	padding:0;
}

#editPopup input[type="radio"]:checked{
	background-image:url("icons/radio.svg");
}

#editPopup input[type="radio"]:hover:not(:disabled),
#editPopup input[type="radio"]:focus:not(:disabled){
	border-color:var(--input-focus);
}

#editPopup #inspectButtonEdit{
	height:28px;
	width:28px;
	box-sizing:border-box;
	padding:6px;
	vertical-align:bottom;
	margin-left:4px;
}

#editPopup #cssSelectorEdit{
	width:calc(100% - 32px);
}

#editPopup .notVisible{
	visibility:hidden;
	height:0 !important;
}

#editPopup #rowSelectorEdit.notVisible *{
	margin:0;
	padding-top:0;
	padding-bottom:0;
	height:0;
	line-height:0;
	border:none;
}

#optionsSection .row{
	display:flex;
	flex-flow:row;
	align-items:center;
}

#optionsSection .row label{
	padding-right:8px;
}

.radio {
	display:grid;
	grid-template-columns:20px auto 20px auto 20px auto;
	grid-template-rows:auto 28px;
}

#optionsSection .radio>label:first-child{
	grid-column:1/7;
	grid-row:1/2;
	white-space:break-spaces;
	padding-bottom:4px;
}

#optionsSection input[type="radio"] + label{
	padding-left:8px;
}


.hidden{
	display:none !important;
}

#toggleHeader{
	height:24px;
	width:32px;
	box-sizing:border-box;
	position:absolute;
	right:calc(50% - 16px);
	top:60px;
	margin:-24px 0 0;
	background:var(--arrow) no-repeat center center;
	background-size:20px;
	padding:6px;
	transform:scale(1,-1);
	z-index:2147483647;
	border:none;
}

#toggleHeader:hover{
	top:58px;
}

.hiddenHeader #toggleHeader{
	background-color:var(--background-color);
	border:1px solid #0078d7;
	position:fixed;
	top:-3px;
	margin:0;
	opacity:.9;
	transform:scale(1,1);
	transition:margin-top 200ms 350ms;
}

.hiddenHeader #toggleHeader:hover{
	top:-1px;
	opacity:1;
}

#highlight{
	position:absolute;
	right:25px;
	top:75px;
	background-color:var(--background-color);
	border:1px solid var(--border-color);
	border-radius:2px;
	height:26px;
	min-width:205px;
	z-index:2147483647;
	-moz-user-select:none;
	opacity:.9;
}

#highlight #xtext{
	line-height:26px;
	padding-left:7px;
	white-space:nowrap;
}

#prev,
#next{
	background:var(--background-color) var(--arrow) no-repeat center center;
	background-size:14px;
	height:26px;
	width:26px;
	float:left;
	border:none;
	border-radius:0;
	margin:0;
}

#prev{
	transform:scale(1,-1);
}

#next{
	border-left:1px solid var(--border-color);
	border-right:1px solid var(--border-color);
}

#prev:hover,
#next:hover{
	background-color:var(--ghost-hover);
}
#prev:active,
#next:active{
	background-color:var(--ghost-active);
}

#close{
	height:20px;
	width:20px;
	background-image:var(--close);
	background-size:18px;
	background-repeat:no-repeat;
	background-position:50%;
	float:right;
	margin:3px;
}

.ghost{
	background-color:var(--background-color) !important;
	border:none !important;
	border-radius:2px;
}

.ghost:hover{
	background-color:var(--ghost-hover) !important;
}

.ghost:active{
	background-color:var(--ghost-active) !important;
}

#__wps_scrollbarMarkers{
	position:fixed;
	bottom:0;
	right:0px;
	height:calc(100% - 61px);
	width:16px;
	padding:16px 0;
	pointer-events:none;
	box-sizing:border-box;
	opacity:.6;
}

.hiddenHeader #__wps_scrollbarMarkers{
	height:100%;
}
